---
const dccs = Object.values(import.meta.glob('./dccs/*.md', { eager: true }))
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
			<h1>Common Fund programs partnered with the CFDE</h1>
			<p>The NIH Common Fund is a funding entity within the NIH that supports bold scientific programs that catalyze discovery across all biomedical and behavioral research.</p>
			{dccs.map(dcc =>
				<a href={`dccs/${dcc.frontmatter.short_label}`}>
					<img src={dcc.frontmatter.icon} />
				</a>
			)}
		</main>
	</body>
</html>
