---
import "@/styles/base.css";
import Prose from "@/components/Prose.astro";
import Nav from "./Nav.astro";
import Footer from "./Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="icon"
			type="image/svg+xml"
			href={`${import.meta.env.BASE_URL}/favicon.png`}
		/>
		<title>CFDE Information Portal</title>
	</head>
	<body>
		<main class="container mx-auto flex flex-col px-12">
			<Nav />
			<Prose>
				<slot />
			</Prose>
		</main>
		<Footer />
	</body>
</html>
