---
---
<div class="
  prose
  max-w-none
  font-dm-sans
  text-secondary-main
  
  /* Headings */
  prose-h1:font-hanken
  prose-h1:text-[40px]
  prose-h1:font-medium
  prose-h1:text-secondary-main
  
  prose-h2:font-hanken
  prose-h2:text-[32px]
  prose-h2:font-medium
  
  prose-h3:font-hanken
  prose-h3:text-[24px]
  prose-h3:font-medium
  prose-h3:text-secondary-main
  
  prose-h4:font-hanken
  prose-h4:text-[22px]
  prose-h4:font-medium
  prose-h4:text-secondary-main
  
  prose-h5:font-hanken
  prose-h5:text-[20px]
  prose-h5:font-medium    
  prose-h5:text-secondary-main
  
 
  prose-a:no-underline
  
  /* Spacing */
  px-10
">
  <slot />
</div>
