---
---
<div class="
  prose
  max-w-none
  prose-headings:hanken-grotesk-500
  prose-headings:text-primary
  prose-body:text-primary
  prose-strong:text-primary
  prose-h1:text-4xl
  prose-h2:text-3xl
  dm-sans-500
  text-primary
  ">
  <slot />
</div>
