---
import '@/styles/base.css'
import Layout from '@/components/Layout.astro'
const { frontmatter } = Astro.props
---

<Layout>
	<div class="flex w-48 h-48 justify-center items-center"><img src={frontmatter.icon} class="max-w-48 max-h-48" /></div>
	<h1>{frontmatter.label}</h1>
	<slot />
</Layout>
