---
import '@/styles/base.css'
import PartnershipCard from '@/components/PartnershipCard.astro'
import Layout from '@/components/Layout.astro'
const partnerships = Object.values(import.meta.glob('@/pages/partnerships/*.md', { eager: true })).filter(partnership => partnership.frontmatter.layout === '@/layouts/Partnership.astro')
const dccs = Object.fromEntries(Object.values(import.meta.glob('@/pages/dccs/*.md', { eager: true })).filter(dcc => dcc.frontmatter.layout === '@/layouts/DCC.astro').map(dcc => [dcc.frontmatter.short_label, dcc]))
---

<Layout>
	<slot />
	<h2>Active CFDE Partnerships</h2>
	<div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
		{partnerships.filter(partnership => partnership.frontmatter.status === 'active').map(partnership => <PartnershipCard partnership={partnership} dccs={dccs} />)}
	</div>
	<h2>Past CFDE Partnerships</h2>
	<div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
		{partnerships.filter(partnership => partnership.frontmatter.status === 'completed').map(partnership => <PartnershipCard partnership={partnership} dccs={dccs} />)}
	</div>
</Layout>
