---
import '@/styles/base.css'
import Prose from '@/components/Prose.astro'
import Layout from '@/components/Layout.astro'
const { frontmatter } = Astro.props
---

<Layout>
	<div class="flex w-48 h-48 justify-center items-center"><img src={frontmatter.image} class="max-w-48 max-h-48" /></div>
	<h1>{frontmatter.label}</h1>
	<slot />
	<div class="flex flex-row gap-4">
		<a class="font-bold" href={frontmatter.url} target="_blank">Website</a>
	</div>
</Layout>
